[user]
	name = soura-mas
	email = marzdog0319@gmail.com
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	autocrlf = input
	hooksPath = ~/git-hooks/hooks

